<h1>Colorpicker Home</h1>
<body>
  <form action="/" id="bgColor">
    <select name="color">
      <option name="red">Red</option>
      <option name="yellow">Yellow</option>
      <option name="blue">Blue</option>
    </select>
    <input type="submit" value="Set Background" />
  </form>
</body>
